<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>LoginFlow</title>

<!-- for closed apps -->
<meta name="robots" content="noindex">

<!-- Favicons -->
<link rel="icon" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="apple-touch-icon" href="/assets/images/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="manifest" href="/assets/images/favicons/manifest.json">
<!--
<link rel="canonical" href="">
-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<link rel="stylesheet" href="/assets/bootstrap/core/bootstrap.min.css">
<link rel="stylesheet" href="/assets/bootstrap/bootstrap.config.css">

<link rel="stylesheet" href="/assets/vendor/validPassword/validPassword.css">

<link rel="stylesheet" href="/assets/css/app-login.css">

<script src="/assets/libs/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<!--
<script type="module" src="/assets/bootstrap/core/bootstrap.bundle.min.js"></script>
-->
<script src="/assets/bootstrap/bootstrap.config.js"></script>

<script src="/assets/vendor/validPassword/validPassword.js" defer></script>
<script src="/assets/vendor/purify.min.js"></script>

<script src="/assets/js/app-login.js"></script>
